body {
    font: 0.92em/1.4 Arial, sans-serif;
}

h1 {
    /*font-size: 12px;*/
    color: #656566;
    background-color: #f8f1d1;
}
div {
    border: 1px solid #c4cbc6;
    padding: 5px 10px 5px 10px;
}
a img { border: none; }